*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin
/.vscode
/.shelf
*.hprof
*.pyc
*.xml
/.navigation
*.versionsBackup
*.swp
hs_err_pid*

